In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv("../../data/run.csv", delimiter=",", decimal=".", encoding="utf-8")

df.head(5)

,Unnamed: 0,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
0,1,48,54,no,si,H,68.0,150,nula
1,2,54,56,no,si,H,69.0,145,moderada
2,3,54,50,no,no,H,69.0,160,moderada
3,4,58,70,si,no,H,72.0,145,moderada
4,5,58,58,no,no,H,66.0,135,intensa

In [35]:
df.loc[df['hace.deporte'] == 'si'].describe()

       Unnamed: 0  pulso.antes  pulso.despues     altura        peso
count   35.000000    35.000000      35.000000  35.000000   35.000000
mean    45.657143    73.600000      92.514286  69.778571  151.714286
std     27.270910    11.435754      18.943215   3.400244   22.628160
min      4.000000    58.000000      58.000000  61.000000  112.000000
25%     23.500000    65.000000      76.000000  68.000000  136.500000
50%     42.000000    70.000000      88.000000  70.000000  150.000000
75%     68.500000    80.000000     105.000000  72.000000  170.000000
max     92.000000   100.000000     140.000000  75.000000  195.000000

In [52]:
df.groupby('genero').describe()

       Unnamed: 0                                                     \
            count       mean        std  min   25%   50%   75%   max
genero
H            57.0  40.666667  24.953051  1.0  21.0  41.0  57.0  88.0
M            35.0  56.000000  27.070714  6.0  31.0  64.0  77.5  92.0

       pulso.antes             ... altura        peso                         \
             count       mean  ...    75%   max count        mean        std
genero                         ...
H             57.0  70.421053  ...   73.0  75.0  57.0  158.263158  18.636108
M             35.0  76.857143  ...   68.0  70.0  35.0  123.800000  13.372052


          min    25%    50%    75%    max
genero
H       123.0  145.0  155.0  170.0  215.0
M        95.0  115.5  122.0  130.5  150.0

[2 rows x 40 columns]

In [144]:
ds =df.loc[df['hace.deporte'] == 'si']
dn =df.loc[df['hace.deporte'] == 'no']

cv_b = ds["pulso.antes"].std()/ds["pulso.antes"].mean()
cv_a = ds["pulso.despues"].std()/ds["pulso.despues"].mean()

cvn_b = dn["pulso.antes"].std()/dn["pulso.antes"].mean()
cvn_a = dn["pulso.despues"].std()/dn["pulso.despues"].mean()

In [65]:
# diferencias
print('Grupo deporte', (cv_a-cv_b), '\n'
'Grupo no deporte', (cvn_a-cvn_b))

Grupo deporte 0.04938279268077442
Grupo no deporte -0.011788328214957233

In [142]:
dm = df.loc[df['tipo.actividad'] == 'moderada']

dm.head()

,Unnamed: 0,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad,cv_bef
1,2,54,56,no,si,H,69.0,145,moderada,2
2,3,54,50,no,no,H,69.0,160,moderada,-4
3,4,58,70,si,no,H,72.0,145,moderada,12
5,6,58,56,no,no,M,67.0,125,moderada,-2
7,8,60,62,no,no,H,71.0,155,moderada,2

In [140]:
def cv_d(x):
    x['cv_bef'] = (x['pulso.despues'].std() / x['pulso.despues'].mean()) - (x['pulso.antes'].std() / x['pulso.antes'].mean())
    
    return x

In [154]:
dm = dm.groupby(dm['genero']).apply(cv_d)

dm.groupby(dm['genero']).agg({'cv_bef' : 'describe'}).transpose()

genero                   H          M
cv_bef count  3.500000e+01  26.000000
       mean   5.121111e-02   0.091058
       std    7.040197e-18   0.000000
       min    5.121111e-02   0.091058
       25%    5.121111e-02   0.091058
       50%    5.121111e-02   0.091058
       75%    5.121111e-02   0.091058
       max    5.121111e-02   0.091058

In [156]:
dm = df.loc[df['tipo.actividad'] == 'suave']

dm.head()

,Unnamed: 0,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad,cv_bef
16,17,62,62,no,no,H,74.0,190,suave,0
24,25,66,78,si,si,H,73.0,190,suave,12
52,53,74,84,si,no,H,73.0,165,suave,10
66,67,78,80,no,no,M,68.0,133,suave,2
72,73,82,80,no,no,M,63.0,116,suave,-2

In [157]:
dm = dm.groupby(dm['fuma']).apply(cv_d)

dm.groupby(dm['fuma']).agg({'cv_bef' : 'describe'}).transpose()

fuma                no        si
cv_bef count  6.000000  3.000000
       mean  -0.005532 -0.069915
       std    0.000000  0.000000
       min   -0.005532 -0.069915
       25%   -0.005532 -0.069915
       50%   -0.005532 -0.069915
       75%   -0.005532 -0.069915
       max   -0.005532 -0.069915

In [158]:
df = df.groupby(df['tipo.actividad']).apply(cv_d)

df.groupby(df['tipo.actividad']).agg({'cv_bef' : 'describe'}).transpose()

tipo.actividad       intensa      moderada  nula         suave
cv_bef count    2.100000e+01  6.100000e+01   0.0  9.000000e+00
       mean    -1.471966e-02  7.965094e-02   NaN -1.476348e-02
       std      7.110250e-18  1.399296e-17   NaN  1.839952e-18
       min     -1.471966e-02  7.965094e-02   NaN -1.476348e-02
       25%     -1.471966e-02  7.965094e-02   NaN -1.476348e-02
       50%     -1.471966e-02  7.965094e-02   NaN -1.476348e-02
       75%     -1.471966e-02  7.965094e-02   NaN -1.476348e-02
       max     -1.471966e-02  7.965094e-02   NaN -1.476348e-02